
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Rowdies";
    src: url("../assets/fonts/Rowdies-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --main-color: #ff9900;
    --main-color-hover: #ffc340;
    background-color: #d6d6d6;
    font-family: "Poppins";
}

header{
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #0000001c;
    background-color: #ffffff;
    z-index: 1;
}

#container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

a{
    text-decoration: none;
}

h1{
    background-color: var(--main-color);
    color: #ffffff;
    font-family: "Rowdies";
    letter-spacing: 2px;
    box-shadow: 0 0 5px var(--main-color);
    border-radius: 5px;
    padding: 0 5px;
}

#div_input{
    display: flex;
    width: 30%;
    height: 40px;
}

input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80%;
}

input:focus{
    outline: none;
}

button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    width: 20%;
}

button:hover{
    background-color: var(--main-color-hover);
}

input, button{
    height: 100%;
    border: solid 1px #0000000e;
}

.fa-bell{
    color: var(--main-color);
    padding: 10px;
    font-size: 20px;
}

.fa-user{
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 50%;
    padding: 10px;
}

.fa-bell:hover, .fa-user:hover{
    color: var(--main-color-hover);
}

#container_nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding-top: 90px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    box-shadow: 1px 0  5px #00000057;
    font-size: 18px;
}

#container_nav li{
    list-style: none;
}

li a{
    color: black;
}

li a:hover{
    text-decoration: underline;
}

main{
    margin: 0 15% ;
    background-color: #ffffff;
    padding: 0 35px;
}

h2{
    color: var(--main-color);
}

#container_famosas{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    height: 500px;
    grid-template-areas: 
    "a b"
    "a c"
    ;
}

.estrelas{
    color: #ffd000;
    display: flex;
    align-items: center;
}

.estrelas p{
    color: white;
    text-shadow: 0 0 3px #000000;
}

#famosas1{
    background: url(/assets/images/escondidinho-de-strogonoff.webp);
    background-size: cover;
    grid-area: a;
}

#famosas2{
    background: url(/assets/images/panquecas-de-banana.jpg);
    background-size: cover;
    grid-area: b;
}

#famosas3{
    background: url(/assets/images/moça-gelada.jpg);
    grid-area: c;
}

.titulo_famosas{
    color: #ffffff;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px #000000;
}

.famosas{
    border-radius: 10px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2%;
    transition: transform 0.5s;
}

.famosas:hover{
    transform:  scale(1.02);
}

#container_tabela{
    width: 100%;
    display: flex;
}

#tabela{
    width: 100%;
    text-align: center;
}

#tabela th{
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 5px;
}

.fotos{
    height: 150px;
    width: 90%;
    border-radius: 5px;
}

dt{
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

li{
    list-style: inside;
}

hr{
    margin: 10px 0;
    border-color: #0000001c;
}

.divs{
    padding: 30px 0;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
}