
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Rowdies";
    src: url("../assets/fonts/Rowdies-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --main-color: #ff9900;
    --main-color-hover: #ffb922;
    background-color: #d6d6d6;
    font-family: "Poppins";
}

header{
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #0000001c;
    background-color: #ffffff;
    z-index: 1;
}

#container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

a{
    text-decoration: none;
}

h1, h4{
    background: linear-gradient(to top, var(--main-color), var(--main-color-hover));
    color: #ffffff;
    font-family: "Rowdies";
    letter-spacing: 2px;
    box-shadow: 0 0 5px var(--main-color);
    border-radius: 5px;
    padding: 0 5px;
}

#div_input{
    display: flex;
    width: 30%;
    height: 40px;
}

input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80%;
}

input:focus{
    outline: none;
}

button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    width: 20%;
}

button:hover{
    background-color: var(--main-color-hover);
}

input, button{
    height: 100%;
    border: solid 1px #0000000e;
}

.fa-bell{
    color: var(--main-color);
    padding: 10px;
    font-size: 20px;
}

.fa-user{
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 50%;
    padding: 10px;
}

.fa-bell:hover, .fa-user:hover{
    color: var(--main-color-hover);
    border-color: var(--main-color-hover);
}

.ponteiro{
    cursor: pointer;
}

#container_nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding-top: 90px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    box-shadow: 1px 0  5px #00000057;
    font-size: 18px;
}

#container_nav li{
    list-style: none;
}

li a{
    color: black;
}

li a:hover{
    text-decoration: underline;
}

main{
    margin: 0 15% ;
    background-color: #ffffff;
    padding: 0 35px;
}

h2, h3{
    color: var(--main-color);
    margin-bottom: 10px;
}

#container_famosas{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    height: 500px;
    grid-template-areas: 
    "a b"
    "a c"
    ;
}

.estrelas{
    color: #ffd000;
    display: flex;
    align-items: center;
}

.estrelas p{
    color: white;
    text-shadow: 0 0 3px #000000;
}

#famosas1{
    background: url(/assets/images/okonomiyaki1.jpg);
    background-size: cover;
    background-position: center;
    grid-area: a;
}

#famosas2{
    background: url(/assets/images/panquecas-de-banana.jpg);
    background-size: cover;
    background-position: center;
    grid-area: b;
}

#famosas3{
    background: url(/assets/images/moça-gelada.jpg);
    background-size: cover;
    background-position: center;
    grid-area: c;
}

.titulo_famosas{
    color: #ffffff;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px #000000;
}

.famosas{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2%;
    transition: transform 0.5s;
    cursor: pointer;
}

.famosas:hover{
    transform:  scale(1.02);
}

#container_tabela{
    width: 100%;
    display: flex;
}

#tabela{
    width: 100%;
    text-align: center;
}

#tabela th{
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 5px;
}

.fotos{
    height: 150px;
    width: 90%;
    border-radius: 5px;
}

#container_fitness{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#container_fitness div{
    border: solid 1px #0000001c;
    border-radius: 5px;
    padding: 5px;
}

ol li{
    list-style: inside decimal;
}

li{
    list-style: inside;
}

#list_domingo{
    grid-column-start: 2;
}

.list{
    background-color: #ffffff;
    background-blend-mode: overlay;
    transition: transform 0.5s;
    cursor: pointer;
}

#list_segunda:hover{
    background: url(/assets/images/omelete.jpg);
    background-size: 100% 100%;
}

#list_terca:hover{
    background: url(/assets/images/tapioca.jpg);
    background-size: 100% 100%;
}
#list_quarta:hover{
    background: url(/assets/images/pão\ integral.jpg);
    background-size: 100% 100%;
}
#list_quinta:hover{
    background: url(/assets/images/panqueca.jpg);
    background-size: 100% 100%;
}
#list_sexta:hover{
    background: url(/assets/images/Smoothie.jpg);
    background-size: 100% 100%;
}
#list_sabado:hover{
    background: url(/assets/images/iogurte.jpg);
    background-size: 100% 100%;
}
#list_domingo:hover{
    background: url(/assets/images/pao\ de\ batata\ doce.jpg);
    background-size: 100% 100%;
}

.list:hover{
    transform: scale(1.08);
    transition: background-color 0.6s, transform 1.0s;
    color: white;
    text-shadow: 0 0 4px #000;
}

#container_internacional{
    display: flex;
    justify-content: center;
    gap: 10%;
    border: solid 1px #0000001c;
    border-radius: 5px;
}

dt{
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

dd{
    cursor: pointer;
    text-decoration: underline;
}

dd:hover{
    color: var(--main-color-hover);
}

dd:active{
    transform: scale(0.95);
}

#list_vovo{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin: 0 5%;
}

#list_vovo li{
    display: flex;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#list_vovo img{
    width: 190px;
    height: 160px;
    border-radius: 5px;
}

#list_vovo div{
    margin-left: 20px;
}

hr{
    margin: 10px 0;
    border-color: #0000001c;
}

.sections{
    padding: 30px 0;
}

footer{
    padding-top: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #0000001c;
}

#container_footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#creditos{
    font-size: 18px;
}

.p-link a{
    font-weight: bold;
}

.p-link a:hover{
    color: #0099ff;
}

.fa-brands{
    padding: 2px;
}

.fa-github{
    color: #f0f6fc;
    background-color: #010409;
    border-radius: 50%;
}

.fa-gitlab{
    color: #e24329;
}

.fa-linkedin{
    color: #0a66c2;
}